body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: rgb(17, 25, 65);
    color: #ad9761;
    text-align: center;
    padding: 10px 0;
}

header h1 {
    margin: 0;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
    background-color: rgb(17, 25, 65);
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: rgb(17, 25, 65);
    color: #ad9761;
}

input[type="text"], input[type="password"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: calc(100% - 22px);
}
